<p id="notice"><%= notice %></p>

<p>
  <strong>Entrada:</strong>
  <%= @reaccion.Entrada %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @reaccion.Usuario %>
</p>

<%= link_to 'Edit', edit_reaccion_path(@reaccion) %> |
<%= link_to 'Back', reaccions_path %>
